<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="mainModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisco</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body ng-controller="mainController">
    <div class="text-center">
      {{"Hola " + "Mundo"}}
    </div>
    <div class="text-center">
      {{dato}}
    </div>

    <script src="../public/js/vendor/jquery.js"></script>
    <script src="../public/js/vendor/what-input.js"></script>
    <script src="../public/js/vendor/foundation.js"></script>
    <script src="../public/js/appfront.js"></script>
    <script src="../public/js/controller.js"></script>

  </body>
</html>
